.card {
    width: 480px;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    border: 1px solid #ddd;
  }
  
  .card-image {
    width: 100%;
    height: 80%;
    background-color: #ccc;
  }
  
  .card-footer {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
  }
  